#This is an example of what your .env file should look like. Check the README for detailed instructions on how to fill out each section

#API Authentication
  API_KEY=
  API_SECRET=
  API_PASSPHRASE=

#Bitcoin
  START_RATE=13700
  INTERVAL_INVESTMENT_AMOUNT_BTC=1.50
  INVESTMENT_INTERVAL_BTC=tenmins

#Ethereum
  INTERVAL_INVESTMENT_AMOUNT_ETH=0.00
  INVESTMENT_INTERVAL_ETH=hour

#Litecoin
  INTERVAL_INVESTMENT_AMOUNT_LTC=0.00
  INVESTMENT_INTERVAL_LTC=day

#Other
  FIAT_CURRENCY=USD
  SANDBOX_MODE=true
